In [19]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [21]:
engine = create_engine('mysql+mysqlconnector://root:newpass2024@127.0.0.1:3306/transactional_data')

In [43]:
data=pd.read_csv(r"E:\project_stuff\Data Analyst - Raw Data (1)\Senior Data Analyst - Raw Data\order_items.csv")
data.head()

   order_id  product_id  quantity
0         1           1         2
1         1           3         1
2         2           4         1
3         3           6         1
4         3           8         1

In [45]:
data.to_sql('order_items',con=engine, if_exists='append', index=False)

37