# importing requred libraries

In [1]:
import pandas as pd

# path to all requred input datasets

In [ ]:
# this gives flexibality to user on pointing requred dataset at any point of analysis

In [3]:
customer_reviews  = r'C:\Users\Vinayak\Data Analyst - Raw Data (1)\Senior Data Analyst - Raw Data\customer_reviews.csv'
orders = r'C:\Users\Vinayak\Data Analyst - Raw Data (1)\Senior Data Analyst - Raw Data\orders.csv'
products = r'C:\Users\Vinayak\Data Analyst - Raw Data (1)\Senior Data Analyst - Raw Data\products.csv'
order_items = r'C:\Users\Vinayak\Data Analyst - Raw Data (1)\Senior Data Analyst - Raw Data\order_items.csv'
customers = r'C:\Users\Vinayak\Data Analyst - Raw Data (1)\Senior Data Analyst - Raw Data\customers.csv'

# creating dataframes

In [95]:
df_customer_reviews = pd.read_csv(customer_reviews)
df_orders = pd.read_csv(orders)
df_products = pd.read_csv(products)
df_order_items = pd.read_csv(order_items)
df_customers = pd.read_csv(customers)

# Data Cleaning and formatting

In [ ]:
# Convert date fields into appropriate datetime formats.
# check for dataets which has date columns
# check NA
# check duplicates

In [175]:
df_customer_reviews.head()

   review_id  order_id  product_id  rating           review_text review_date
0          1         1           1       4          Good product  2023-01-07
1          2         1           3       5    Excellent quality!  2023-01-07
2          3         2           4       3       Average quality  2023-01-09
3          4         3           6       4  Good value for money  2023-01-12
4          5         3           8       2       Not as expected  2023-01-12

In [189]:
df_customer_reviews.isna().sum()

review_id      0
order_id       0
product_id     0
rating         0
review_text    0
review_date    0
dtype: int64

In [191]:
df_customer_reviews.duplicated().sum()

0

In [193]:
df_customer_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    30 non-null     int64
 1   order_id     30 non-null     int64
 2   product_id   30 non-null     int64
 3   rating       30 non-null     int64
 4   review_text  30 non-null     object
 5   review_date  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 1.5+ KB

# coverting date column into datetime format

In [195]:
df_customer_reviews['review_date']=pd.to_datetime(df_customer_reviews['review_date'],format='mixed')

In [197]:
df_customer_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    30 non-null     int64
 1   order_id     30 non-null     int64
 2   product_id   30 non-null     int64
 3   rating       30 non-null     int64
 4   review_text  30 non-null     object
 5   review_date  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 1.5+ KB

# exporting datafarme to csv file for future use

In [199]:
df_customer_reviews.to_csv(r'C:\Users\Vinayak\Data Analyst - Raw Data (1)\formatted_datasets\customer_reviews_formatted.csv',index=False)

In [201]:
df_orders.head()

   order_id  customer_id order_date  total_amount     status
0         1          101 2023-01-05           250  completed
1         2          102 2023-01-07           150  cancelled
2         3          103 2023-01-10           300  completed
3         4          101 2023-02-12           500  completed
4         5          104 2023-02-20           400  completed

In [205]:
df_orders.isna().sum()

order_id        0
customer_id     0
order_date      0
total_amount    0
status          0
dtype: int64

In [207]:
df_orders.duplicated().sum()

0

In [209]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      30 non-null     int64
 1   customer_id   30 non-null     int64
 2   order_date    30 non-null     datetime64[ns]
 3   total_amount  30 non-null     int64
 4   status        30 non-null     object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 1.3+ KB

In [211]:
df_orders['order_date'] = pd.to_datetime(df_orders['order_date'])
df_orders.head()

   order_id  customer_id order_date  total_amount     status
0         1          101 2023-01-05           250  completed
1         2          102 2023-01-07           150  cancelled
2         3          103 2023-01-10           300  completed
3         4          101 2023-02-12           500  completed
4         5          104 2023-02-20           400  completed

In [213]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      30 non-null     int64
 1   customer_id   30 non-null     int64
 2   order_date    30 non-null     datetime64[ns]
 3   total_amount  30 non-null     int64
 4   status        30 non-null     object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 1.3+ KB

# exporting datafarme to csv file for future use

In [215]:
df_orders.to_csv(r'C:\Users\Vinayak\Data Analyst - Raw Data (1)\formatted_datasets\orders_formatted.csv', index=False)

df_products.head()

In [221]:
df_products.isna().sum()

product_id      0
product_name    0
category        0
price           0
dtype: int64

In [223]:
df_products.duplicated().sum()

0

In [225]:
df_order_items.head()

   order_id  product_id  quantity
0         1           1         2
1         1           3         1
2         2           4         1
3         3           6         1
4         3           8         1

In [227]:
df_order_items.isna().sum()

order_id      0
product_id    0
quantity      0
dtype: int64

In [229]:
df_order_items.duplicated().sum()

0

In [231]:
df_customers.head()

,customer_id,name,email,location,signup_date,birthdate
0,101,John Doe,john.doe@email.com,New York,2021-01-01,1990-05-14
1,102,Jane Smith,jane.smith@email.com,Los Angeles,2021-01-10,1985-11-22
2,103,Emily Davis,emily.davis@email.com,Chicago,2022-03-15,1992-07-30
3,104,Michael Brown,michael.brown@email.com,San Francisco,2020-06-10,1988-12-01
4,105,Amy White,amy.white@email.com,Miami,2021-08-22,1991-02-10

In [233]:
df_customers.isna().sum()

customer_id    0
name           0
email          0
location       0
signup_date    0
birthdate      0
dtype: int64

In [235]:
df_customers.duplicated().sum()

0

In [237]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  11 non-null     int64
 1   name         11 non-null     object
 2   email        11 non-null     object
 3   location     11 non-null     object
 4   signup_date  11 non-null     datetime64[ns]
 5   birthdate    11 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 660.0+ bytes

In [241]:
df_customers[['signup_date','birthdate']]=df_customers[['signup_date','birthdate']].apply(pd.to_datetime)

In [243]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  11 non-null     int64
 1   name         11 non-null     object
 2   email        11 non-null     object
 3   location     11 non-null     object
 4   signup_date  11 non-null     datetime64[ns]
 5   birthdate    11 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 660.0+ bytes

# exporting datafarme to csv file for future use

In [245]:
df_customers.to_csv(r'C:\Users\Vinayak\Data Analyst - Raw Data (1)\formatted_datasets\customers_formatted.csv', index=False)